
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

li{
  list-style: none;
}

form label{
  display: block;
}

.error{
  color:red;
  font-weight: bold;
}

.success{
  color:green;
  font-weight: bold;
}

.select-checkbox{
  border: 1px solid rgba(0,0,0,0.25);
  height: 100px;
  margin: 5px;
  max-width: 200px;
  overflow: auto;
}

.center{
  margin: 0 auto;
  width: 250px;
}
